<h3>Your Trips</h3>

<% @trips.each do |trip| %>
  <li><%= link_to trip.trip_nickname, trip_path(trip) %>  <%= link_to "Delete", trip, method: :delete, data: {confirm: "Delete?"} %> 
    <button class="js-more" data-id="<%= trip.id %>">More info</button>
    <div class = "trip-info">
    </div>
   </li>
<% end %>

