<h3>Add a New Trip </h3>

<% if @trip.errors.any? %>
      <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
<% end %>

<%= form_for([current_user, @trip]) do |f| %>  
  <%= render partial: 'form', locals: {f: f} %>
<% end %>
