<h3>All Destinations</h3>

<% @destinations.popularity_sort.each do |destination| %>

  <ul>
    <li><%= link_to destination.city, destination_path(destination) %> <%= destination.popularity %> Trips Saved <%= link_to "Delete", destination, method: :delete, data: { confirm: "Delete?" } %></li>
  </ul>

<% end %>