<!-- <h2>See all Destinations</h2>

<% @destinations.each do |destination| %>
  <ul>
    <li><%= destination.city %></li>   <%= link_to "Delete", destination, method: :delete, data: { confirm: "Really?" } %>
  </ul>

<% end %> -->