<h3>Add a New Destination City</h3>

<% if @destination.errors.any? %>
      <ul>
        <% @destination.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
<% end %>

<%= render "form" %>
