<%= form_for(@destination) do |f| %>
  <%= f.label :city %>
  <%= f.text_field :city %><br>
<%= f.submit "Create City"%>
<% end %>




 <!-- <label>Existing City By Name</label>
<input type= "text" name = "">
 -->
<!-- </fieldset><br>

<fieldset>

<label>Or Create a City By Name</label>
<input type= "text" name = "">

</fieldset><br>


<fieldset>
  <legend>Trip</legend>

  <label>Trip Nickname</label>
  <input type="text" name="">

  <label>Start Date</label>
  <input type="text" name="">

  <label>End Date</label>
  <input type="text" name="">

</fieldset>
<input type="submit">
<form> -->