<h3>Add an Attraction</h3>
<p> Attraction <b>MUST</b> include Destination City </p>

<% if @attraction.errors.any? %>
      <ul>
        <% @attraction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
<% end %>

<div id = "new-attraction-form">
<%= render "form" %>
</div>

<div id="attraction-footer">
  
  <h3>Attraction Created!</h3>
  <b id="attractionName"></b><br>
  <b id="attractionUrl"></b><br>
  <b id="attractionType"></b><br>
  <b id="attractionCity"></b><br></b><br>

  <span class='st_email_large' displayText='Email'></span>
  <span class='st_twitter_large' displayText='Tweet'></span>
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_pinterest_large' displayText='Pinterest'></span>

</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
 
      var values = $(this).serialize();
      var posting = $.post('/attractions', values);
     
     posting.done(function(data) {
        var newAttraction = new Attraction(
          data["attraction"]["id"],
          data["attraction"]["name"],
          data["attraction"]["url"],
          data["attraction"]["attraction_type"],
          data["attraction"]["destination"]
          );

        // Set url to include http://www.
        var formattedUrl = newAttraction.formatUrl();
        newAttraction["url"] = formattedUrl;

        $("#attractionName").html("Name: " + "<a href='/attractions/" + newAttraction.id + "'>" + newAttraction["name"] + "</a>");
        $("#attractionUrl").html("Website: " + "<a href='" + newAttraction.url + "'>" + newAttraction["url"] + "</a>");
        $("#attractionName2").html(newAttraction["name"]);
        $("#attractionType").html("Attraction Type: " + newAttraction["attraction_type"]);
        $("#attractionCity").html("City: " + "<a href='/destinations/" + newAttraction["destination"]["id"] + "'>" + newAttraction["destination"]["city"] + "</a>" );
       $("#attraction-footer").css("visibility", "visible"); // show the attraction
      });
    });
  });

  $(document).ready(function() {
      $(".dropdown-toggle").dropdown();
  });
</script>